<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Mybrary</a>

        <ul>
            <li>
                <a href="/Authors">Authors</a>
            </li>
            <li>
                <a href="/Authors/new">New Author</a>
            </li>
            <li>
                <a href="/Books">Books</a>
            </li>
            <li>
                <a href="/Books/new">New Book</a>
            </li>
        </ul>
    </nav>
</header>
