<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Mybrary</title>

        <link href="/deps/filepond/dist/filepond.min.css" rel="stylesheet" />
        <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
        <link href="/stylesheets/main.css" rel="stylesheet" />

        <script defer src="/deps/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
        <script defer src="/deps/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script>
        <script defer src="/deps/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
        <script defer src="/deps/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
        <script defer src="/deps/filepond/dist/filepond.min.js"></script>
        <script defer src="/javascript/fileUpload.js"></script>
    </head>
    <body>
        <div class="container">
            <%- include("../views/partials/header.ejs") %>
            <div class="inner-container">
                <div><%- include("../views/partials/errorMessage.ejs") %></div>
                <div><%- body %></div>
            </div>
        </div>
    </body>
</html>
